openapi: 3.0.3
info:
  version: '2.1.0'
  title: 'LogMeal v2 Documentation'
  description: "This document is intended to provide all the needed knowledge to communicate with LogMeal's API as well
  as the description of all the available endpoints.


  To <strong>get started and see code examples</strong> please visit our <a href='https://api.logmeal.es/tutorial/' target='_blank'>tutorial</a>.


  For <strong>logging in to your APICompany user account</strong> visit our <a href='https://www.logmeal.es' target='_blank'>web page</a>.


  To view the documentation for an older API version click any of the following links: <a href='https://api.logmeal.es/v1/docs/'>v1</a>, <a href='https://api.logmeal.es/v0/docs/'>v0</a>.


  <strong>Depending on the LogMeal plan you are subscribed to a different set of endpoints will be accessible for you. Check our <a href='https://logmeal.es/api/pricing/' target='_blank'>pricing</a> page to see a list of the features we have available for each plan.</strong>


  The endpoints described in this document might only be accessible by specific types of users (based on the token used). Each endpoint has an icon representing which types of users are allowed to use it, among the following:

    - ⚫ <strong>APICompany</strong>: global manager users that are in charge of creating other users among other things (only one is available per account).

    - 🔴 <strong>APIUser</strong>: specific final users for the application that you are building. Thus, a different APIUser must be created for each final user that accesses LogMeal’s services through your application/software.

    - 🔵 <strong>APIUserManager</strong>: user capable of visualizing the intake history for multiple APIUsers (could be assigned to a nutritionist/clinician/manager).


  Some of our endpoints have some call limitations in place. The endpoints with limitations will have the ⏱ icon next to their summary, meaning that they will have at least one of the following limitations:

  * <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> Endpoints with a <strong>limited amount of monthly calls</strong> based on your LogMeal Plan, <strong>shared among all of your users</strong>. Calls that exceed your monthly limit will be charged as extra credits. The endpoints with this limitation will also be labeled with a ⭐ icon.

  * <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> Endpoints with a <strong>limited amount of daily calls</strong> based on your LogMeal Plan, <strong>applied to each user separately</strong>. Calls that exceed the daily limit won't be processed (error code **429**).

  * <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> Endpoints with a <strong>limited amount of calls per second</strong> based on your LogMeal Plan, <strong>applied to each user separately</strong>. Calls that exceed the request rate limit won't be processed (error code **429**).


  You will be able to find the specific limitations inside the description of each endpoint with the ⏱ icon.


  *<strong>Note:</strong> You can check your current account limitations by using one of the <strong>Informative endpoints</strong>.*


  "
# ALL AVAILABLE COLOUR SYMBOLS: ⚫ ⚪ 🔵🔴🟠🟡🟢🟣🟤🟦🟥🟧🟨🟩🟪🟫🛑🔶🔷🔸🔹🔺🔻
#    ⚫🔴⚪⏱⭐
  contact:
    email: "contact@logmeal.es"
servers:
  - url: https://api.logmeal.es
  #- url: https://staging.logmeal.es
  #- url: http://localhost:8080
  #  description: staging server
#schemes:
# - http
#consumes:
#  - "application/json"
#produces:
#  - "application/json"
tags:
#- name: "Authentication"
#  description: ""

- name: "Informative Endpoints"
  description: "Endpoints that provide useful information about the LogMeal API"
  externalDocs:
    description: ""

- name: "APIUsers Management"
  description: "Endpoints that allow APICompanies to manage their APIUsers"
  externalDocs:
    description: "These endpoints are all limited to APICompany ⚫ tokens"

- name: "APIUsers Profile Management"
  description: "Endpoints that allow APIUsers to get and modify their profiles"
  externalDocs:
    description: "These endpoints are all limited to APIUser 🔴 tokens"


- name: "API and Models Versioning Functions"
  description: "Endpoints that provide information about the available versions of the API and our Models"
  externalDocs:
    description: "Available to both APICompany ⚫ and APIUser 🔴 tokens"

- name: "Dataset Information, Recognized Dishes and Others"
  description: "Endpoints that provide information about our datasets"
  externalDocs:
#    description: "Available to both APIUserManager 🔵 and APIUser 🔴 tokens"

- name: "Image-based Food Recognition"
  description: "Endpoints related to applying food recognition on images"
  externalDocs:
    description: "These endpoints are all limited to APIUser 🔴 tokens"

- name: "Nutritional Information"
  description: "Endpoints related to the nutritional information services"
  externalDocs:
    description: "⚡ Endpoints limited to Analyse plan or higher ⚡"

- name: "Measures and Easy Modulation"
  description: "Endpoints with information about cooking measures and easy modulation"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "APIUserManager Endpoints"
  description: "Endpoints that allow managing the APIUserManagers"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "Intake History"
  description: "Endpoints related to the APIUser's intake history management and visualization"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "Custom Occasions"
  description: "Endpoints related to managing custom occasions"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "Nutritional Goals"
  description: "Endpoints related to the APIUser's nutritional goals management"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "Custom Nutritional Indicators"
  description: "Endpoints related to managing custom nutritional indicators"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "Custom Recipes"
  description: "Create and assign custom recipes accessible by all the users in the company"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "APIUser Favorite Meals"
  description: "Endpoints related to the APIUser's favorite meals"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "Body Measures"
  description: "Endpoints to manage body measures"
  externalDocs:
    description: "⚡ Endpoints limited to Monitor plan or higher ⚡"

- name: "Intake Variety Score and Nutri-Scores"
  description: "Endpoints related to the APIUser's intake variety and Nutri-Score services"
  externalDocs:
    description: "⚡ Endpoints limited to Recommend plan or higher ⚡"

- name: "Recipe and Dish Recommendations"
  description: "Endpoints related to the APIUser's recipe and dish recommendations services"
  externalDocs:
    description: "⚡ Endpoints limited to Recommend plan or higher ⚡"

- name: "Food Quantity Estimation"
  description: "Endpoints related to applying food segmentation and quantity estimation on images"
  externalDocs:
    description: "⚡ Endpoints limited to Recommend plan or higher ⚡"

- name: "Food Waste Estimation"
  description: "Food waste estimation for dish leftovers and stored food waste disposal"
  externalDocs:
    description: "⚡ Endpoints limited to Custom plans ⚡"

paths:
  ################################################
  ##  Informative Endpoints
  ################################################
  /v2/info/limitations:
    get:
      tags:
        - "Informative Endpoints"
      summary: "⚫ Get information about your current account limitations ⏱"
      description: "
                      Summary of limitations:


                      <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> <strong>Limited amount of monthly calls. Exceeding calls will be charged as extras.</strong>


                      <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> <strong>Limited amount of daily calls per user.</strong>


                      <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


                      &nbsp;


                      Use this endpoint to retrieve the current limitations of your LogMeal Plan.
                      "
      responses:
        200:
          description: "Limitations retrieved"
          content:
            application/json:
              schema:
                type: object
                properties:
                  D:
                    type: string
                    example: "___ calls per day per user. (On D limited endpoints)"
                  M:
                    type: string
                    example: "___ queries per month among all your users. (On M limited endpoints)"
                  S:
                    type: string
                    example: "___ allowed calls per second per user. (On S limited endpoints)"
        401:
          description: "Unauthorized, invalid token"
      security:
        - Bearer: [ ]

  /v2/info/services:
    get:
      tags:
        - "Informative Endpoints"
      summary: "⚫🔴🔵 Get list of accessible services (endpoints) ⏱"
      description: "
                        Returns the list of services available by the requesting user's APICompany. 
                        The services returned depend on the LogMeal Plan the company is subscribed.
                        "
      responses:
        200:
          description: "Services retrieved"
          content:
            application/json:
              schema:
                type: object
                properties:
                  users/signUp:
                    type: object
                    properties:
                      description:
                        type: string
                        example: "Create a new APIUser"
                      extra_calls_paid:
                        type: boolean
                        example: false
                  image/segmentation/complete:
                    type: object
                    properties:
                      description:
                        type: string
                        example: "Food Segmentation"
                      extra_calls_paid:
                        type: boolean
                        example: true
        401:
          description: "Unauthorized, invalid token"
      security:
        - Bearer: [ ]

  /v2/info/availableNutrients:
    get:
      tags:
        - "Informative Endpoints"
      summary: "⚫🔴🔵 Get information about the available nutritional indicators"
      description: "
                      This endpoint returns information about the nutritional indicators available in our API.
                      The response contains an object for each nutrient, with the <strong>nutritional code</strong> as a key.


                      &nbsp;


                      Most of our endpoints that provide responses containing information about nutritional indicators
                      will use this nutritional code as a reference.


                      &nbsp;


                      It will also return custom nutritional indicators. Only if they have been defined.
                      "
      responses:
        200:
          description: "Available nutrients retrieved."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailableNutrientsResponse"
        401:
          description: "Unauthorized, invalid token"
      security:
        - Bearer: [ ]

  ################################################
  ##  APICompany-related endpoints
  ################################################
  /v2/users/signUp:
    post:
      tags:
      - "APIUsers Management"
      summary: "⚫ Sign Up new APIUser"
      description: "
                    Create a new APIUser which will have access to our API, an APIUser should only be assigned to a unique user.


                    &nbsp;


                    Each APIUser will have a token assigned to it which can be used in our endpoints, granting access to the services.


                    &nbsp;


                    Any call that is made by each of your APIUsers will be taken into consideration based on your current LogMeal Plan.

                    Also, each APIUser counts towards the device limit so you won't be able to create one if your current LogMeal Plan's limit is reached.
                    "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserSignup"
        description: "List of user object"
        required: true
      responses:
        '201':
          description: "token is valid, company user is created, token is generated and sent in response (JSON format)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: 'The new APIUser has been successfully created!'
                  token:
                    type: string
                    example: '731ccfa35745110aabb32ed'
                  id:
                    type: integer
                    example: 435
        409:
          description: "The given username already exists in the LogMeal database."
        403:
          description: 'Your company has reached the maximum amount of APIUsers based on your current LogMeal Plan. Upgrade your plan, remove unused users or contact us for more information.'
        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            examples:
              Not allowed to this method:
                message: 'You are not allowed to this method.'

        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

  /v2/info/languages:
    get:
      tags:
        - "Informative Endpoints"
      summary: "⚫🔴🔵 Returns the available languages to be assigned to APIUsers."
      description: "Endpoint that returns a JSON containing the languages that can be associated to each of the APIUsers.

            By using the language parameters, all image recognition predictions and any other information returned to the APIUser will be translated into that language.


            &nbsp;


            Each language will always be identified by a 3 character ISO 639-2/T code, which corresponds to the key of the JSON provided by this endpoint.
      "
      responses:
        '200':
          description: "token is valid and list of available languages is returned"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguagesResponse"
        403:
          description: 'You are not allowed to this method.'
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            examples:
              Not allowed to this method:
                $ref: '#/components/schemas/Error403'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: [ ]

  /v2/users/APIUsers:
    get:
      tags:
      - "APIUsers Management"
      summary: "⚫ Returns the list of existing APIUsers for a given company"
      description: "This endpoint returns a list of the APIUsers that are associated to your APICompany, with some basic information about each APIUser."
      responses:
        '200':
          description: "APIUsers successfully obtained"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        403:
          description: 'You are not allowed to this method.'
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            examples:
              Not allowed to this method:
                $ref: '#/components/schemas/Error403'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

  /v2/users/deleteAPIUser/{userId}:
    delete:
      tags:
      - "APIUsers Management"
      summary: "⚫ Deletes an APIUser from your APICompany."
      description: "This endpoint deletes/disables a user from your APICompany.


                    &nbsp;


                    If the APIUser you want to delete has already used our API (has processed images through our endpoints), a soft delete will be applied (the user will be disabled but it's data will be kept for your future analysis through our intake history endpoints).


                    &nbsp;


                    If the APIUser has never used any of our image processing endpoints, the user will be completely removed from our system.
                    "
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '200':
          description: "The APIUser was successfully deleted."
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

# TODO create endpoint to reset token for APIUsers and another one for APICompanies by using user/email and password.
#  /v2/users/resetToken:
#    post:
#      tags:
#        - "APIUsers Management"
#      summary: "⚫ Reset your APICompany Token."
#      description: "This endpoint allows you, as an APICompany, to reset your current Token and obtain a new one.
#
#
#                    &nbsp;
#
#
#                    You must take into consideration that resetting your current token will revoke access to our API anywhere the old token was being used.
#
#                    "
#      responses:
#        '200':
#          description: "Token was successfully reset."
#          content:
#            application/json:
#              schema:
#                type: object
#                properties:
#                  new_token:
#                    type: string
#        401:
#          description: "Unauthorized, invalid token"
#        404:
#          description: "The specified URL was not found or couldn’t be retrieved"
#      security:
#        - Bearer: []

  /v2/users/modifyUserProfileInfo/{userId}:
    post:
      tags:
        - "APIUsers Management"
      summary: "⚫ Modify a user's profile information."
      description: "This endpoint allows you to modify the information from APIUsers created by the APICompany. This information will be used, for instance, to calculate the /getRecommendedDailyIntake endpoint based on the user data, among others.

                    &nbsp;


                    Read the specification of the request body to see the available fields with their descriptions.


                    &nbsp;


                    This endpoint is the same as '/v2/profile/modifyUserProfileInfo'."
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfileObject"
        description: "Parameters to be modified, all fields are optional except 'user_id'. Null values will be ignored."
        required: true
      responses:
        '200':
          description: "The profile information has been successfully modified!"
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "The profile information has been successfully modified!"
        400:
          description: "Bad request."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Sex is not valid:
              message: "The provided sex value is not valid."
              code: 1205
            Lifestyle is not valid:
              message: "The provided lifestlye value is not valid."
              code: 1214
            Salt level is not valid:
              message: "The provided salt level value is not valid."
              code: 1215
            Sugar level is not valid:
              message: "The provided sugar level value is not valid."
              code: 1216
            Portion size is not valid:
              message: "The provided portion size value is not valid."
              code: 1217
            Birth format not valid:
              message: "The provided birth value is wrong. Follow the format 'YYYY-MM-DD'"
              code: 1218
            diet label not valid:
              message: "The provided diet label value is not valid"
              code: 1607
            food restriction not valid:
              message: "The provided food restriction value is not valid'"
              code: 1608

        401:
          description: "Unauthorized, invalid token"
        404:
          description: "Not found."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            User does not exist:
              message: "This User does not exist."
              code: 1210
      security:
        - Bearer: []

  /v2/users/getUserProfileInfo/{userId}:
    get:
      tags:
        - "APIUsers Management"
      summary: "⚫ Get a user's profile information."
      description: "This endpoint returns the information from the specified APIUser owned by the APICompany.


                    &nbsp;


                    Read the specification of the response body to see the available fields with their descriptions.


                    &nbsp;


                    This endpoint is the same as '/v2/profile/getUserProfileInfo'."
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        200:
          description: "The profile information has been successfully obtained"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileObject'
        400:
          description: "Bad request."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "Not found."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            User does not exist:
              message: "This User does not exist."
              code: 1210
      security:
        - Bearer: []

  /v2/users/toggleEnabled/{userId}:
    post:
      tags:
        - "APIUsers Management"
      summary: "⚫ Toggles the 'enabled' attribute for an APIUser."
      description: "By changing the state of the 'enabled' attribute you can grant or prevent a user to gain access to the main intake endpoints.
                    Furthermore, you can preventing them to consume monthly credits or account for the total Monthly Active Users (MAUs).


                    &nbsp;

                    
                    Alternatively, you can change the 'enabled' attribute through the 'Users' page after logging in to your account at LogMeal's web page.
                    

                    &nbsp;
                    

                    If an APIUser is DISABLED and tries to make an API call to a privileged endpoint an HTTP error will be received with status code 403 and custom error code 116.


                    &nbsp;
                    

                    You can check the status of the 'enable' attribute calling the endpoint GET '/v2/users/APIUsers'."
      parameters:
        - $ref: '#/components/parameters/UserIdParam'

      responses:
        '200':
          description: "The profile information has been successfully modified!"
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    example: false
                    description: 'Either if the APIUser has access to the intake report endpoints and consume monthly credits.'
        400:
          description: "Bad request."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        401:
          description: "Unauthorized, invalid token"
        404:
          description: "Not found."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            User does not exist:
              message: "This User does not exist."
              code: 1210
      security:
        - Bearer: [ ]

  ################################################
  ##  Image recognition services
  ################################################

  /v2/image/recognition/type/{model_version}:
    post:
      tags:
        - "Image-based Food Recognition"
      summary: "🔴 Food Type recognition ⏱⭐"
      description: "
          <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> <strong>Limited amount of monthly calls. Exceeding calls will be charged as extras.</strong>


          <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> <strong>Limited amount of daily calls per user.</strong>


          <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


          &nbsp;


          Applies food type recognition to the provided image. The available food types as well as their corresponding IDs are 1: 'food', 2: 'ingredients', 3: 'sauces', 4: 'non food', 5: 'drinks', 6: 'combination dish'.


          Note that any image not belonging to any of the aforementioned groups will be recognized as ‘non food’."
      parameters:
        - $ref: '#/components/parameters/ModelVersion'
        - $ref: '#/components/parameters/SkipTypes'
        - $ref: '#/components/parameters/Language'
      requestBody:
        description: "Image sent in files"
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
              required:
                - image
      responses:
        200:
          description: "token is valid and image is received and recognized. Recognition information is sent in response (JSON format)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecognitionTypeResponse'
          examples:
            Recognition type response example:
              $ref: '#/components/examples/RecognitionTypeResponseExample'
        400:
          description: "Bad request. Invalid Image/File, problems saving sent image"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Image Not Saved:
              message: "Image couldn't be saved."
              code: 701
        403:
          description: 'You are not allowed to this method.'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
        429:
          description: "Too Many Requests. (limited per daily calls per user or overall calls per second)"
      security:
        - Bearer: []

#  /v2/image/recognition/dish/{model_version}:
#    post:
#      tags:
#        - "Image-based Food Recognition"
#      summary: "🔴 Food Dish recognition ⏱⭐"
#      description: |
#        <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> <strong>Limited amount of monthly calls. Exceeding calls will be charged as extras.</strong>
#
#
#        <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> <strong>Limited amount of daily calls per user.</strong>
#
#
#        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>
#
#
#        &nbsp;
#
#
#        **We recommend always using the endpoint /v2/image/recognition/complete instead for optimal recognition results.**
#
#
#        &nbsp;
#
#
#        Given an image, provides the main food groups recognized and the list of most probable dishes. These dishes come with their names, the corresponding ids and the associated probabilities in three separated lists (see the response example below).
#
#        The returned information also includes the image id and the dish type (see /v2/image/recognition/type).
#
#        Note that:
#
#        - The food type ‘ingredients’ corresponds to raw food (like ‘carrot’, ‘pepper’, etc).
#
#
#        - If the dish type recognized is ‘no food’, the endpoint will not return more information
#                    about recognition.
#
#
#        - If the dish type recognized is ‘food’, the endpoint will return the top 3 food groups. The list of possible food groups can be retrieved with a call to /foodGroups.
#      parameters:
#        - $ref: '#/components/parameters/ModelVersion'
#        - $ref: '#/components/parameters/SkipTypes'
#        - $ref: '#/components/parameters/Language'
#      requestBody:
#        content:
#          multipart/form-data:
#            schema:
#              type: object
#              properties:
#                image:
#                  type: string
#                  format: binary
#                  description: 'Image sent in files'
#              required:
#                - image
#        required: true
#      responses:
#        200:
#          description: "token is valid and image is received and recognized. Recognition information is sent in response (JSON format)"
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/RecognitionDishResponse'
#          examples:
#            Recognition dish response example:
#              $ref: '#/components/examples/RecognitionDishResponseExample'
#        400:
#          description: "Bad request: Invalid Image/File, problems saving sent image"
#          $ref: ''
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/Error'
#          examples:
#              Image Not Saved:
#                message: "Image couldn't be saved."
#                code: 701
#        403:
#          description: 'You are not allowed to this method.'
#        401:
#          description: "Unauthorized, invalid token"
#        404:
#          description: "The specified URL was not found or couldn’t be retrieved"
#        429:
#          description: "Too Many Requests. (limited per daily calls per user or overall calls per second)"
#      security:
#        - Bearer: []
#
#  /v2/image/recognition/combo/{model_version}:
#    post:
#      tags:
#        - "Image-based Food Recognition"
#      summary: "🔴 Combination dish recognition ⏱⭐"
#      description: |
#        <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> <strong>Limited amount of monthly calls. Exceeding calls will be charged as extras.</strong>
#
#
#        <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> <strong>Limited amount of daily calls per user.</strong>
#
#
#        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>
#
#
#        &nbsp;
#
#
#        **We recommend always using the endpoint /v2/image/recognition/complete instead for optimal recognition results.**
#
#
#        &nbsp;
#
#
#        Applies combination dish recognition, which consist of a set of independent dishes/foods. Thus, it provides as
#        output the complete set of foods/dishes that are present in the image.
#
#        Opposed to the enpoint /recognition/dish, which provides the set of most probable dishes present in the
#        image but only one of them is correct, in this endpoint the whole set of provided foods are detected
#        to be present in the image.
#      parameters:
#        - $ref: '#/components/parameters/ModelVersion'
#        - $ref: '#/components/parameters/Language'
#      requestBody:
#        description: "Image sent in files"
#        required: true
#        content:
#          multipart/form-data:
#            schema:
#              type: object
#              properties:
#                image:
#                  type: string
#                  format: binary
#              required:
#                - image
#      responses:
#        200:
#          description: "token is valid and image is received and recognized. Recognition information is sent in response (JSON format)"
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/RecognitionComboResponse'
#          examples:
#            Recognition combo response example:
#              $ref: '#/components/examples/RecognitionComboResponseExample'
#        400:
#          description: "Bad request. Invalid Image/File, problems saving sent image"
#          $ref: ''
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/Error'
#          examples:
#            Image Not Saved:
#              message: "Image couldn't be saved."
#              code: 701
#        401:
#          description: "Unauthorized, invalid token"
#        403:
#          description: 'You are not allowed to this method.'
#        404:
#          description: "The specified URL was not found or couldn’t be retrieved"
#        429:
#          description: "Too Many Requests. (limited per daily calls per user or overall calls per second)"
#      security:
#        - Bearer: []

  /v2/image/segmentation/complete/{model_version}:
    post:
      tags:
        - "Image-based Food Recognition"
      summary: "🔴 Multiple Food Dishes Segmentation ⏱⭐ Detects every food item on the image and recognises it."
      description: |
        <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> <strong>Limited amount of monthly calls. Exceeding calls will be charged as extras.</strong>
        
        
        <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> <strong>Limited amount of daily calls per user.</strong>
        
        
        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>
        
        
        &nbsp;
        
        
        Given an image, it segments and detects each food item or food region appearing on it. Then the most probable dishes are recognized for each of the regions separately. These dishes come with their names, the corresponding ids and the associated probabilities (confidence).
        
        Note that the segmentation_results, which contain the bounding boxes and segments detected, might not be directly applicable to the uploaded 
        image size. The segmentation pixel values are scaled depending on the 'processed_image_size' values provided 
        for each of the images (the images might be sometimes resized depending on the needs of the food recognition 
        algorithms used).
        
        
        &nbsp;
        
        
        If you have a LogMeal Recommend plan or higher we recommend using the /segmentation/complete/quantity endpoint, instead. It provides the same information in the current endpoint and furthermore it automatically estimates the food quantity present on the picture.
      parameters:
        - $ref: '#/components/parameters/ModelVersion'
        - $ref: '#/components/parameters/Language'
      requestBody:
        description: "Image sent in files"
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
              required:
                - image
      responses:
        200:
          description: "Token is valid and image is received and recognized. Recognition information is sent in response (JSON format)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentationCompleteResponse'
          examples:
            Recognition complete response example:
              $ref: '#/components/examples/SegmentationCompleteResponseExample'
        400:
          description: "Bad request. Invalid Image/File, problems saving sent image"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Image Not Saved:
              message: "Image couldn't be saved."
              code: 701
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
        429:
          description: "Too Many Requests. (limited per daily calls per user or overall calls per second)"
      security:
        - Bearer: [ ]

  /v2/image/recognition/complete/{model_version}:
    post:
      deprecated: true
      tags:
        - Image-based Food Recognition
      summary: 🔴 Food Dishes recognition ⏱⭐
      description: |
        <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> <strong>Limited amount of monthly calls. Exceeding calls will be charged as extras.</strong>


        <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> <strong>Limited amount of daily calls per user.</strong>


        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


        &nbsp;
        
        
        **[NOTE] This endpoint is DEPRECATED. We recommend using the endpoint /image/segmentation/complete instead.**


        &nbsp;
        

        Given an image, provides the main food groups recognized and the list of most probable dishes. These dishes come with their names, the corresponding ids and the associated probabilities in three separated lists (see the response example below).
      parameters:
        - $ref: '#/components/parameters/ModelVersion'
        - $ref: '#/components/parameters/SkipTypes'
        - $ref: '#/components/parameters/Language'
      requestBody:
        description: "Image sent in files"
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
              required:
                - image
      responses:
        200:
          description: "token is valid and image is received and recognized. Recognition information is sent in response (JSON format)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecognitionCompleteResponse'
          examples:
            Recognition complete response example:
              $ref: '#/components/examples/RecognitionCompleteResponseExample'
        400:
          description: "Bad request. Invalid Image/File, problems saving sent image"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Image Not Saved:
              message: "Image couldn't be saved."
              code: 701
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
        429:
          description: "Too Many Requests. (limited per daily calls per user or overall calls per second)"
      security:
        - Bearer: []

  ################################################
  ##  Dishes confirmation and feedback
  ################################################

  /v2/image/confirm/type/{model_version}:
    post:
      tags:
        - "Image-based Food Recognition"
      summary: "🔴 Food recognition only on a manually-specified food type ⏱⭐"
      description: |
        <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> <strong>Limited amount of monthly calls. Exceeding calls will be charged as extras.</strong>*


        <span style='color:orange; font-size: 1.2em; font-weight: bold;'>(D)</span> <strong>Limited amount of daily calls per user.</strong>


        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


        &nbsp;


        **Note:** <span style='color:red; font-size: 1.2em; font-weight: bold;'>(M)</span> will only take effect if a recognition process is triggered by choosing a food type recognition that was not previously applied on the same image.


        &nbsp;

        Depending on the detected food type, specific recognition algorithms are applied. This endpoint allows to
        correct the provided food type (if wrong) and thus, apply a new food recognition.

        This correction is intended to be performed by the final user when receiving the result.
      parameters:
        - $ref: '#/components/parameters/ModelVersion'
        - $ref: '#/components/parameters/Language'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Foodtype'
        description: "Parameters sent in data, in json format (type is an id of a food type)"
        required: true
      responses:
        200:
          description: "token is valid and image is received and recognized. Recognition information is sent in response (JSON format)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmTypeResponse'
          examples:
            Confirm type response example:
              $ref: '#/components/examples/ConfirmTypeResponseExample'
        400:
          description: "Bad request."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Type Value Error:
              message: "Wrong type value, it must be one of food, non_food, drinks or ingredients."
              code: 703
            Image Not Predicted:
              message: "The provided imageId does not have a prediction yet."
              code: 700
            Image Not Exists:
              message: "Image with id={} does not exist."
              code: 710
        403:
          description: 'You are not allowed to this method.'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified image id does not exist"
        429:
          description: "Too Many Requests. (limited per daily calls per user or overall calls per second)"
      security:
        - Bearer: []

  /v2/image/confirm/food_group/{model_version}:
    post:
      tags:
        - "Image-based Food Recognition"
      summary: "🔴 Confirm food group after applying image recognition."
      description: |

        With this endpoint, the user has the option to confirm which of the predicted food groups in the image are the correct ones. Please see endpoint '/v2/image/recognition/complete' for more information on food groups predictions.

        The user can provide a list of food groups for all the dishes present in the image. These food groups must be from the logmeal database. The complete list of available food groups can be obtained by calling the endpoint '/v2/dataset/foodGroups'.

        &nbsp;

      parameters:
        - $ref: '#/components/parameters/ModelVersion'
        - $ref: '#/components/parameters/Language'
      requestBody:
        description: "Parameters sent in data, in json format"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmFoodGroup'
            example:
              {
                "imageId": 1268462,
                "confirmedFoodGroup": [ 2, 6 ],
              }
      responses:
        200:
          description: "token is valid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmFoodGroupResponse'
          examples:
            Confirm dish response example:
              $ref: '#/components/examples/ConfirmFoodGroupResponseExample'
        400:
          description: "Bad request."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Image Not Predicted:
              message: 'The provided imageId does not have a prediction yet.'
              code: 700
            Confirmed food group Error:
              message: "The provided food group name does not belong to the currently available food groups."
              code: 726
        403:
          description: 'You are not allowed to this method.'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: [ ]

  /v2/image/confirm/dish/{model_version}:
    post:
      tags:
        - "Image-based Food Recognition"
      summary: "🔴 Confirm dish name after applying image recognition."
      description: |
        When using our recognition endpoints the most probable classes are returned concerning dish, drinks, sauces or ingredients (depending on the type).

        &nbsp;

        With this endpoint, the user has the option to confirm which one of the returned food classes is the correct one.


        &nbsp;


        By default, the source is set to 'logmeal' and an ID corresponding to an existent dish is expected. The 'source' can also take the value 'other' for specifying a free-text feedback for any dish that is not included in LogMeal's API. 
        Do note that if you confirm a dish with a free-text feedback (source 'other') it won't be taken into consideration
        when doing any calculation that is based on the dish (e.g. generating ingredients or nutritional information).
        

        &nbsp;


        If a food segmentation endpoint has been used then you have to provide a food item identifier for each of the confirmed dishes. This implies adding the extra parameter 'food_item_position'.
        This parameter consists of a list of elements, one per each confirmed dish, and it must include an integer identifying the segmented region it corresponds to (see 'food_item_position' in returned json for /segmentation endpoints).
        If you desire to confirm a dish that does not belong to any of the detected regions then a string has to be provided that will act as an unique identifier for that extra confirmed dish.

#        &nbsp;
#
#        From our point of view, a dish consists on one or more components that can be represented by a recipe. Whenever
#        a user is confirming multiple dishes from the same picture, we will always be considering it as if the user is
#        confirming classes for a single dish. This means that any information related to portion sizes will be evenly
#        weighted for each confirmed class. Here is an example (note that this examples are just for explanation purposes):
#        - A picture containing 'chicken breast' could have a portion size of 70g for 1 person.
#        - If the user confirms that the previously defined picture contains 'chicken breast' and 'french fries' the portion size won't
#        be calculated as 70g from the chicken breast plus 100g of the french fries. Instead it will be an average from both confirmed dishes,
#        resulting in a portion size of 85g of Chicken breast and French fries, with all the information related to this dish recalculated following the same logic (average instead of sum).


      parameters:
        - $ref: '#/components/parameters/ModelVersion'
        - $ref: '#/components/parameters/Language'
      requestBody:
        description: "Parameters sent in data, in json format"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmFoodDish'
            example:
              {
                "imageId": 1268462,
                "confirmedClass": [110, "Red velvet donut"],
                "source": ["logmeal", "other"],
                "food_item_position": [ 1, 'extra_dish_1' ]
              }
      responses:
        200:
          description: "token is valid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmDishResponse'
          examples:
            Confirm dish response example:
              $ref: '#/components/examples/ConfirmDishResponseExample'
        400:
          description: "Bad request."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Feedback Source Is Not Valid:
              message: "Parameter source is not valid. It must be one of: logmeal, google, other"
              code: 707
            Image Not Predicted:
              message: 'The provided imageId does not have a prediction yet.'
              code: 700
            Confirmed Class Error:
              message:  "The provided dish name does not belong to the current food type."
              code: 702
        403:
          description: 'You are not allowed to this method.'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

################################################
##  Ingredients and nutritional information
################################################

  /v2/nutrition/recipe/ingredients/{model_version}:
    $ref: './api/paths/nutrition/recipeIngredients.yaml'

  /v2/nutrition/recipe/nutritionalInfo/{model_version}:
    post:
      tags:
        - "Nutritional Information"
      summary: "🔴🔵 Identifies the nutritional information for the dishes on the image. ⏱"
      description: |
        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


        &nbsp;


        This endpoint provides all the nutritional information of the provided imageId or class_id. Make sure you first 
        confirm the correct food items with the /confirm/dish endpoint before calling this. Otherwise, the top 1 predictions
        for each of the detected food item positions will be considered the correct ones and will be returned in this endpoint.

        &nbsp;
        
        If a food segmentation has been applied on the image (see /segmentation endpoints), then an extra attribute 
        named 'nutritional_info_per_item' will be returned in the response. This contains the detailed nutritional 
        information for each of the food segments/regions that have been detected or confirmed on the image.
        
        &nbsp;

        Some extra information related to the daily intake reference is also provided, which serves as a fast and simple way to
        compare the nutritional information of the intake with what is the global average intake expected from people (note that these are just approximations).

        The way the 'dailyIntakeReference' levels are generated is the following:
          - LOW - If the intake represents less than 20% of the daily reference value
          - MEDIUM - If the intake represents more than 20% and less than 35% of the daily reference value
          - HIGH - If the intake represents equal or more than 35% of the daily reference value
          - NONE - If the reference value could not be calculated or the nutritional indicator has the levels disabled.


        &nbsp;


        Unless an automated quantity recognition is done on the image or the /confirm/quantity endpoint has been used, all the information provided is scaled to the standard/average portion for a single person.


        &nbsp;


        Be aware that not all the entries of this response will contain nutritional information. If the images have not been confirmed or don't have any prediction on a dish level, the nutritional information won't be generated. If the element from the intake list has the flag 'hasNutritionalInfo' set to False, 'nutritional_info' won't be present in the object. Also, confirmed dishes that are not in the 'logmeal' database won't contribute to the nutritional information. They will still be returned in the 'foodNames' field, and will be represented with a null value in the 'ids' field.
      parameters:
        - $ref: '#/components/parameters/ModelVersion'
        - $ref: '#/components/parameters/Language'
      requestBody:
        description: "Parameters sent in data, in json format. You can chose imageId or class_id parameter."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recipe_Nutri_Params'
      responses:
        200:
          description: |
            token is valid, recipe information is sent in response (JSON format).

            - "nutritional_info" will be empty if "hasNutritionaInfo" == False
            - "foodName" and "ids" will become a list if several dishes where recognized/confirmed (e.g. "foodName": [324, 435])

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NutritionalInfo'
          examples:
            Nutritional Info Example:
              $ref: '#/components/examples/NutritionalInfoResponseExample'

        400:
          description: "Bad request."
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

  /v2/nutrition/confirm/ingredients:
    $ref: './api/paths/nutrition/confirmIngredients.yaml'
  /v2/nutrition/confirm/quantity:
    $ref: './api/paths/nutrition/confirmQuantity.yaml'

  ################################################
  ##  Recognized dishes and food groups
  ################################################

  /v2/dataset/dishes/{model_version}:
    $ref: './api/paths/dataset/dishes.yaml'

  /v2/dataset/foodGroups:
    get:
      tags:
        - "Dataset Information, Recognized Dishes and Others"
      summary: "⚫🔴🔵 Retrieve the complete list of available food groups ⏱"
      description: "
      <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


      &nbsp;


      This endpoint results a list of all the available food groups (also named food families). See /v2/image/recognition endpoints for more information."
      responses:
        200:
          description: "token is valid, food groups information is sent in response (JSON format)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ids:
                    type: array
                    items:
                      type: integer
                    example: [1, 2, 3]
                  names:
                    type: array
                    items:
                      type: string
                    example: ['meat', 'dessert', 'dairy products']
        400:
          description: "Invalid syntax"
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

  /v2/dataset/ingredients:
    get:
      tags:
        - "Dataset Information, Recognized Dishes and Others"
      summary: "⚫🔴🔵 Retrieve the complete list of ingredients that could appear in the recipes. ⏱"
      description: |
        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


        &nbsp;


        This endpoint returns a complete list of the ingredients that could appear in our recipes. Take into account that to obtain recipe information
        from image predictions, you must have access to the Nutritional Information.
      parameters:
        - $ref: '#/components/parameters/Language'
        - $ref: './api/parameters/query/cooking_measures.yaml'

      responses:
        200:
          description: "token is valid, ingredients list is sent in response (JSON format)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngredientsList"
        400:
          description: "Invalid syntax"
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

  /v2/dataset/referenceIngredients:
    get:
      tags:
        - "Measures and Easy Modulation"
      summary: ⚫🔴🔵 Returns a list of ingredients that can be used as salt, sugar and oil for a dish.
      description:
        This endpoint returns a complete list of the ingredients that can be used as the user's choice of salt, sugar and oil. When calculating 
        recipe information we'll check if the user has defined any of these reference ingredients and use them instead of any other types of 
        salt, sugar & oil present in the recipe.
      parameters:
        - $ref: '#/components/parameters/Language'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceIngredientsResponse'
        '400':
          description: "Invalid syntax"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: "Unauthorized, invalid token"
        '403':
          description: 'You are not allowed to this method.'
        '404':
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: [ ]

  /v2/dataset/weightMeasures/dishes:
    $ref: './api/paths/dataset/dishWeightMeasures.yaml'
  /v2/dataset/weightMeasures/ingredients:
    $ref: './api/paths/dataset/ingredientWeightMeasures.yaml'

  /v2/dataset/foodGroupsFromDish:
    post:
      tags:
        - "Dataset Information, Recognized Dishes and Others"
      summary: "⚫🔴🔵 Get the list of food groups more commonly associated to a manually-specified dish id. ⏱"
      description: "
      <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


      &nbsp;


      Given a dish class_id, this endpoint returns the food groups associated to it. Deprecated name '/foodGroupFromDish'."
      parameters:
        - $ref: '#/components/parameters/Language'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                class_id:
                  type: integer
                  example: 241
#                dish:
#                  type: string
#                  example: 'spaghetti bolognese'
              required:
                - class_id
        description: "Parameters sent in data, in json format"
        required: true

      responses:
        200:
          description: "token is valid, food groups list is sent in response (JSON format)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ids:
                    type: array
                    items:
                      type: integer
                    example: [1, 2, 3]
                  names:
                    type: array
                    items:
                      type: string
                    example: ['meat', 'dessert', 'dairy products']
        400:
          description: "Invalid syntax"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Food Group Not Available:
              message: "The provided dish does not have a food group."
              code: 712
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []


  ################################################
  ##  APIUsers Profile Management
  ################################################
  /v2/profile/changeLanguage:
    post:
      deprecated: true
      tags:
      - APIUsers Profile Management
      summary: 🔴 Changes current user language
      description: >
        **[NOTE] This endpoint is DEPRECATED. We recommend using the endpoint POST /modifyuserProfileInfo instead.**
        
        
        &nbsp;
      

        This endpoint allows an APIUser to modify their assigned language, which will modify the language of the responses generated by our endpoints.
      requestBody:
        content:
          application/json:
            schema:
                type: object
                properties:
                  language:
                    type: string
                    example: 'eng'
                    enum: [spa, cat, eng, ita, nld, fre, ger, tur, gre]
        description: "Changes the APIUser's current default language. It must be a three-letter ISO 639-2/T code."
        required: true
      responses:
        '200':
          description: "Language has been successfully changed"
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: 'OK'
        403:
          description: 'You are not allowed to this method.'
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            examples:
              Not allowed to this method:
                $ref: '#/components/schemas/Error403'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []
  /v2/profile/modifyUserProfileInfo:
    post:
      tags:
        - "APIUsers Profile Management"
      summary: "🔴 Modify the profile information."
      description: "This endpoint allows the APIUser to modify their profile information.

                     &nbsp;


                     Read the specification of the request body to see the available fields with their descriptions.


                     &nbsp;


                     This endpoint is the same as '/v2/users/modifyUserProfileInfo'."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfileObject"
        description: "Parameters to be modified, all fields are optional. Null values will be ignored."
        required: true
      responses:
        '200':
          description: "The profile information has been successfully modified!"
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    example: "The profile information has been successfully modified!"
        400:
          description: "Bad request."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          examples:
            Sex is not valid:
              message: "The provided sex value is not valid."
              code: 1205
            Lifestyle is not valid:
              message: "The provided lifestyle value is not valid."
              code: 1214
            Salt level is not valid:
              message: "The provided salt level value is not valid."
              code: 1215
            Sugar level is not valid:
              message: "The provided sugar level value is not valid."
              code: 1216
            Portion size is not valid:
              message: "The provided portion size value is not valid."
              code: 1217
            Birth format not valid:
              message: "The provided birth value is wrong. Follow the format 'YYYY-MM-DD'"
              code: 1218
            diet label not valid:
              message: "The provided diet label value is not valid"
              code: 1607
            food restriction not valid:
              message: "The provided food restriction value is not valid'"
              code: 1608


        401:
          description: "Unauthorized, invalid token"
        404:
          description: "Not found."
      security:
        - Bearer: []

  /v2/profile/getUserProfileInfo:
    get:
      tags:
        - "APIUsers Profile Management"
      summary: "🔴 Get the user's profile information."
      description: "This endpoint returns the information from the APIUser performing the request.


                   &nbsp;


                   Read the specification of the response body to see the available fields with their descriptions.


                   &nbsp;


                   This endpoint is the same as '/v2/users/getUserProfileInfo'."
      responses:
        200:
          description: "The profile information has been successfully obtained"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileObject'
        400:
          description: "Bad request."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "Not found."
      security:
        - Bearer: []

  /v2/nutrition/getRecommendedDailyIntake:
    get:
      tags:
        - "Nutritional Information"
      summary: "🔴 Get a recommendation about the daily macronutrient intake based on the user information. ⏱"
      description: "
      <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


       &nbsp;


       Returns a daily intake recommendation for calories and the main macronutrients. The recommendations are
       based on the user's profile information. If any user profile information is missing, the results will be based on the average worldwide.
       If the user has nutritional goals created, they will be returned with the recommendation. Check the documentation on '/v2/nutritionalGoals' for more information.
              
       
       &nbsp;
       
       
      It also returns two ranges. range and warning_range.
      range is where the ideal intake is, ok range. warning_range is where there is still room for improvement, fairly ok range.
      If the nutrient range only has a minimum value, above the minimum, ok range. All the values below the warning_range will be considered bad.
      If the nutrient range only has a maximum value, under the maximum, ok range. All the values above the warning_range will be considered bad.
      If the nutrient has minimum and maximum values, between them, ok range. All the values under the lower warning_range and values above the bigger warning_range will be considered bad.
       
       
       &nbsp;
       
       
       If the company has a Monitor or higher plan, they will also get recommendation values for the rest of available nutrients.
       Just like in /v2/nutritionalGoals/autocompute, some nutrients do not give out and automatic calculation. They will be in the response as null. See /v2/nutritionalGoals/autocompute's documentation for more information.


       &nbsp;


       If the user does not have a 'sex' assigned or has one which is not 'male' nor 'female' an average between these two will be used for all the calculations.


       &nbsp;


       Note that the output of this endpoint is based on a personalized but automated recommendation based on the <a href='https://en.wikipedia.org/wiki/Harris%E2%80%93Benedict_equation' target='_blank'>Harris-Benedict formula</a>. A professional dietist should be consulted by the customer in order to assure it fits the user's needs."
      parameters:
        - $ref: '#/components/parameters/Language'
      responses:
        200:
          description: "The recommendation has been successfully obtained"
          content:
            application/json:
              schema:
                type: object
                properties:
                  daily_recommendation:
                    $ref: "#/components/schemas/NutrientCodeSample"
                description: 'JSON containing the recommended daily intake of each of the main nutrients (calories, and the amount of fat/protein/carbs that the user should ingest to reach that goal), as well as the Nutritional Goals the user has assigned. If the company has access to /nutritionalGoals/autocompute it will also return the values for the rest of nutrient recommendations.   '
                example: {
                  "daily_recommendation": {
                    "CHOCDF": {
                      "average_value": 231.55751953125,
                      "label": "Carbs",
                      "range": [
                        219.97964355468747,
                        243.13539550781252
                      ],
                      "unit": "g"
                    },
                    "ENERC_KCAL": {
                      "average_value": 2058.2890625,
                      "label": "Energy",
                      "range": [
                        1955.3746093749999,
                        2161.203515625
                      ],
                      "unit": "kcal"
                    },
                    "FAT": {
                      "average_value": 57.17469618055556,
                      "label": "Fat",
                      "range": [
                        54.31596137152778,
                        60.03343098958334
                      ],
                      "unit": "g"
                    },
                    "PROCNT": {
                      "average_value": 154.3716796875,
                      "label": "Protein",
                      "range": [
                        146.653095703125,
                        162.09026367187502
                      ],
                      "unit": "g"
                    }
                  }
                }

        400:
          description: "Bad request."
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: "Unauthorized, invalid token"
        404:
          description: "Not found."
      security:
        - Bearer: []


  ################################################
  ##  API and Models Versioning Functions
  ################################################

  /v2/version/activeModels:
    get:
      tags:
        - "API and Models Versioning Functions"
      summary: "⚫🔴 Retrieves the list of active Models/Algorithms versions. ⏱"
      description: "
      <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


      &nbsp;


      This endpoint returns a list containing the versions of the recognition models that are currently active. The versions provided are sorted, meaning that the first one is the most recent and the last one is the least recent.


      &nbsp;


      You can fix the version in our recognition endpoints in order to always receive the same list of classes,
      although <b>WE RECOMMEND NOT FIXING THE VERSION</b> in order to obtain the best results possible as we update our models.
      "
      responses:
        200:
          description: "token is valid, model versions list is sent in response (JSON format)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: array
                    items:
                      type: string
                example:
                  names: [
                    "v1.0",
                    #"v0.9"
                  ]
        400:
          description: "Invalid syntax"
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []


  /v2/version/activeAPIs:
    get:
      tags:
        - "API and Models Versioning Functions"
      summary: "⚫🔴 Retrieves the list of active API versions. ⏱"
      description: |
        <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


        &nbsp;


        This endpoint returns a list containing the API versions that are currently active.

        Changing the version of an endpoint could change its inputs/outputs. Using the most recent API version is always recommended, as the latest
        versions will provide more and better functionalities.
      responses:
        200:
          description: "token is valid, API versions list is sent in response (JSON format)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: array
                    items:
                      type: string
                example:
                  names: [
                    "v2",
                    "v1",
                    "v0"
                  ]
        400:
          description: "Invalid syntax"
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

  /v2/version/allModels:
    get:
      tags:
        - "API and Models Versioning Functions"
      summary: "⚫🔴 Retrieves all available models grouped by version. ⏱"
      description: "
      <span style='color:purple; font-size: 1.2em; font-weight: bold;'>(S)</span> <strong>Limited amount of calls per second.</strong>


      &nbsp;


      This endpoint returns a list of the available models with their available versions."
      responses:
        200:
          description: "token is valid, classes information is sent in response (JSON format)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllModelsResponse'
          examples:
            Get all models response example:
              $ref: '#/components/examples/AllModelsResponseExample'
        400:
          description: "Invalid syntax"
        401:
          description: "Unauthorized, invalid token"
        403:
          description: 'You are not allowed to this method.'
        404:
          description: "The specified URL was not found or couldn’t be retrieved"
      security:
        - Bearer: []

  /v2/intake/{imageId}:
    delete:
      tags:
        - "Intake History"
      summary: "⚫🔴🔵 Remove an uploaded intake."
      description: "
            Given an image id, this endpoint allows to remove its existent upload and all the information related to it (nutritional information).
            "
      parameters:
        - in: path
          name: imageId
          schema:
            type: integer
          required: true
          description: ID of the image to be removed. The image ID is obtained in the recognition response. It can be obtained through the nutritional information history endpoint too. The user must have access to the image in order to delete it.
      responses:
        200:
          description: "Intake successfully deleted!"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized, invalid token."
        403:
          description: "Forbidden"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/716'
                  - $ref: '#/components/schemas/1208'
          examples:
            UserIsNotImageOwner:
              $ref: '#/components/examples/example_716'
            NotAllowedToRemoveImage:
              $ref: '#/components/examples/example_1208'
        404:
          description: "Not found"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/710'
          examples:
            ImageDoesNotExist:
              $ref: '#/components/examples/example_710'
      security:
        - Bearer: [ ]

  /v2/intake/manualInput:
    post:
      deprecated: true
      tags:
        - "Intake History"
      summary: "🔴 Create a manual intake (without image-based prediction)"
      description: >
        **[NOTE] This endpoint is DEPRECATED. We recommend using the endpoint POST /intake/manualInput/{userId} instead.**
        
        
        &nbsp;
        
        
        Endpoint callable by APIUser only.
          

        &nbsp;


        Creates a manual intake consisting of a consumed dish or a list of consumed food groups, without using an image-based prediction. This is an alternative to the /recognition endpoints.


        &nbsp;


        This endpoint can be used to add an intake without the need of an image nor applying the recognition process.


        &nbsp;


        You must provide either the parameter 'class_ids' or the parameter 'food_group_ids', but never both.

      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InputManualDishBody"
        description: "Parameters to create a manual dish."
        required: true
      responses:
        200:
          description: "Manual input successfully created!"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseManualInput'
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/100-ManualInput-required'
                  - $ref: '#/components/schemas/100-date'
                  - $ref: '#/components/schemas/100-ManualInput-list'
                  - $ref: '#/components/schemas/100-ManualInput-empty'
                  - $ref: '#/components/schemas/100-ManualInput-integers'
          examples:
            FormIsNotValid - Field required:
              $ref: '#/components/examples/example_100-ManualInput-required'
            FormIsNotValid - Timestamp format:
              $ref: '#/components/examples/example_100-date'
            FormIsNotValid - Field must be a list:
              $ref: '#/components/examples/example_100-ManualInput-list'
            FormIsNotValid - List must not be empty:
              $ref: '#/components/examples/example_100-ManualInput-empty'
            FormIsNotValid - List values must be integers:
              $ref: '#/components/examples/example_100-ManualInput-integers'

        401:
          description: "Unauthorized, invalid token."
        403:
          description: "Forbidden"
        404:
          description: "Not found"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/717'
          examples:
            FoodClassIdNotValid:
              $ref: '#/components/examples/example_717'
      security:
        - Bearer: [ ]

  /v2/intake/manualInput/assign:
    post:
      deprecated: true
      tags:
        - "Intake History"
      summary: "🔵 Create a manual intake (without image-based prediction) and assign it to a set of specific APIUsers."
      description: "
        **[NOTE] This endpoint is DEPRECATED. We recommend using the endpoint POST /intake/manualInput/bulkAssign instead.**


        &nbsp;


        Endpoint callable by APIUserManager only.


        &nbsp;


        Creates a manual intake consisting of a consumed dish or a list of consumed food groups, without using an image-based prediction. This is an alternative to the /recognition endpoints. This endpoint can be used to add an intake without the need of an image nor applying the recognition process. The manual intake can be assigned simultaneously to multiple APIUsers.


        &nbsp;


        You must provide either the parameter 'class_ids' or the parameter 'food_group_ids', but never both.
        "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InputManualAssignDishBody"
        description: "Parameters to create a manual dish."
        required: true
      responses:
        200:
          description: "Manual input successfully created!"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseManualInputAssigned'
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/100-ManualInput-required'
                  - $ref: '#/components/schemas/100-date'
                  - $ref: '#/components/schemas/100-ManualInput-list'
                  - $ref: '#/components/schemas/100-ManualInput-empty'
                  - $ref: '#/components/schemas/100-ManualInput-integers'
          examples:
            FormIsNotValid - Field required:
              $ref: '#/components/examples/example_100-ManualInput-required'
            FormIsNotValid - Timestamp format:
              $ref: '#/components/examples/example_100-date'
            FormIsNotValid - Field must be a list:
              $ref: '#/components/examples/example_100-ManualInput-list'
            FormIsNotValid - List must not be empty:
              $ref: '#/components/examples/example_100-ManualInput-empty'
            FormIsNotValid - List values must be integers:
              $ref: '#/components/examples/example_100-ManualInput-integers'

        401:
          description: "Unauthorized, invalid token."
        403:
          description: "Forbidden"
        404:
          description: "Not found"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/717'
                  - $ref: '#/components/schemas/1201'
          examples:
            FoodClassIdNotValid:
              $ref: '#/components/examples/example_717'
            APIUserDoesNotExist:
              $ref: '#/components/examples/example_1201'
      security:
        - Bearer: [ ]

  /v2/intake/manualInput/{userId}:
    $ref: './api/paths/intakes/manualInput.yaml'
  /v2/intake/manualInput/bulkAssign:
    $ref: './api/paths/intakes/manualInputBulk.yaml'

  /v2/intake/modifyNutritionalInfo:
    post:
      tags:
        - Intake History
      summary: 🔴🔵 Modify the nutritional info of an uploaded intake
      description: >
          Modify the nutritional information indicators of a previously uploaded intake (image). The changes will take 
          place on the /history/getIntakesList endpoint or any other endpoint that retrieves the nutritional 
          information for an image.

          &nbsp;
          
          A different format has to be provided for the submitted nutritional information depending on whether the
          image has a prediction of type food recognition or of type food segmentation. 
          
          - In case the image at hand has a **prediction of type segmentation**, then you have to provide the 
          parameter 'nutritional_indicators_per_item' containing an object where keys are food item identifiers
          and values are lists of nutritional codes and values.
          
          - In case the image at hand has a **prediction of type recognition**, then you have to provide the 
          parameter 'nutritional_indicators' containing a list of nutritional codes and values.
          
          
          Check the provided examples for additional information.

          &nbsp;

          Note that if you confirm a new list of dishes for this intake or you apply any ingredient modification, 
          the nutritional information will be re-calculated based on the new list of dishes or ingredients. 
      requestBody:
        $ref: "#/components/requestBodies/ModifyNutritionBody"
      responses:
        200:
          description: Nutritional information modified successfully!
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModifyNutritionalInfo'
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/Error'
        401:
          description: "Unauthorized, invalid token."
        403:
          description: "Forbidden"
          $ref: ''
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/716'
                  - $ref: '#/components/schemas/1223'
          examples:
            UserIsNotImageOwner:
              $ref: '#/components/examples/example_716'
            NotAllowedToUpdateImage:
              $ref: '#/components/examples/example_1223'
        404:
          description: "Not found"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/710'
          examples:
            Image does not exist:
              $ref: '#/components/examples/example_710'

      security:
        - Bearer: [ ]

  /v2/intake/modifyTimestamp:
    post:
      tags:
        - "Intake History"
      summary: "⚫🔴🔵 Modify the timestamp of an uploaded intake"
      description: "
        Modify the timestamp of a previously uploaded intake (image). By default the images are created with the moment of the
        request as the timestamp (taking into consideration the user's assigned timezone).


        &nbsp;


        This endpoint can be used to move intakes to a moment of your choice, so it can be taken into account properly
        in the nutritional intake history.
        "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyImageTimestampBody"
        description: "Parameters to update an intake timestamp."
        required: true
      responses:
        200:
          description: "Image timestamp successfully updated!"
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/100-date'

          examples:
            FormIsNotValid - Timestamp format:
              $ref: '#/components/examples/example_100-date'
        401:
          description: "Unauthorized, invalid token."
        403:
          description: "Forbidden"
          $ref: ''
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/716'
                  - $ref: '#/components/schemas/1223'
          examples:
            UserIsNotImageOwner:
              $ref: '#/components/examples/example_716'
            NotAllowedToUpdateImage:
              $ref: '#/components/examples/example_1223'
        404:
          description: "Not found"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/710'
          examples:
            Image does not exist:
              $ref: '#/components/examples/example_710'

      security:
        - Bearer: [ ]

  /v2/intake/modifyOccasion:
    post:
      tags:
        - "Intake History"
      summary: "⚫🔴🔵 Modify the occasion of an uploaded intake"
      description: "
          Modify the occasion of a previously uploaded intake (image). By default the images have an occasion assigned based on the moment of the
          request as the timestamp (taking into consideration the user's assigned timezone and if the user belongs to a company, in this case,
          if the company has defined occasions).


          &nbsp;


          This endpoint can be used to group the intakes for each occasion of the day, so it can be taken into account,
          for example, for displaying purposes.
          "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyImageOccasionBody"
        description: "Parameters to update an intake occasion."
        required: true
      responses:
        200:
          description: "Image occasion successfully updated!"
        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/1011'
                  - $ref: '#/components/schemas/1639'
          examples:
            InvalidDefaultOccasion:
              $ref: '#/components/examples/example_1011'
            InvalidCompanyOccasion:
              $ref: '#/components/examples/example_1639'
        401:
          description: "Unauthorized, invalid token."
        403:
          description: "Forbidden"
          $ref: ''
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/716'
                  - $ref: '#/components/schemas/1223'
          examples:
            UserIsNotImageOwner:
              $ref: '#/components/examples/example_716'
            NotAllowedToUpdateImage:
              $ref: '#/components/examples/example_1223'
        404:
          description: "Not found"
          $ref: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/710'
          examples:
            Image does not exist:
              $ref: '#/components/examples/example_710'

      security:
        - Bearer: [ ]


  /v2/intake/createOccasionGroup:
    post:
      tags:
        - "Custom Occasions"
      summary: "⚫🔵 Create a new occasion group"
      description: "
          Create an occasion group. Update the company occasions by blocks of occasions (occasion group). Assign a 
          custom name and time range to each of the new occasions.


          &nbsp;


          In every block, there must be one default occasion with no time range defined.


          &nbsp;


          maps_to_occasion will contain a direct mapping between the default system occasions and the one that is being
          created. It is necessary in order to give recommendations using the company occasions. 


          &nbsp;


          Everytime this endpoint is called with a valid occasion group, it gets set as the active group and if there 
          already was an active one it gets set to inactive.
          "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOccasionGroupBody"
        description: "Parameters to create an occasion group."
        required: true
      responses:
        200:
          description: "Ok"
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_occasions_and_ids:
                    type: object
                    additionalProperties:
                      type: integer
                      example: 14
                    example: morningmeal

              example:
                new_occasions_and_ids:
                  morningmeal: 13
                  middaymeal: 14
                  lastmeal: 15
                  snack: 16

        400:
          description: "Bad request"
          $ref: ''
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/100_Invalid_Occasions'
                  - $ref: '#/components/schemas/100_Invalid_Occasion'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Name'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Default'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Mapping'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Attribute'
                  - $ref: '#/components/schemas/100_Repeated_Occasion_Name'
                  - $ref: '#/components/schemas/100_Name_Not_Provided'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Times'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Times_Order'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Default_True'
                  - $ref: '#/components/schemas/100_Missing_Default_Occasion'
                  - $ref: '#/components/schemas/100_Multiple_Default_Occasions'
                  - $ref: '#/components/schemas/100_Overlapping_Occasions'
                  - $ref: '#/components/schemas/100-time-only'

        401:
          description: "Unauthorized, invalid token."
        403:
          description: "Forbidden"
          $ref: ''
          content:
            application/json:
              schema:
                oneOf:

          examples:

        404:
          description: "Not found"

      security:
        - Bearer: [ ]


  /v2/intake/getOccasionGroups:
    get:
      tags:
        - "Custom Occasions"
      summary: "⚫🔵🔴 Get existing occasion groups"
      description: |
        Get all the occasion groups for the company in the request. It will return the active and inactive occasion groups and the system's default occasions, containing information about each occasion group and each occasion.

        A time range can be specified as query parameters (init_time and end_time), and it will only return the occasion groups that fall within the specified time range. This applies only to the inactive occasions. Active occasions will always be included in the response. If no time range is specified, all occasion groups will be returned.

        If no occasion groups have been defined, it will only return the system's default occasions.

      parameters:
        - in: query
          name: init_time
          schema:
            type: string
            format: date
            example: "2023-03-20"
          description: "Start date of the time range to filter occasion groups."
        - in: query
          name: end_time
          schema:
            type: string
            format: date
            example: "2023-03-24"
          description: "End date of the time range to filter occasion groups."

      responses:
        200:
          description: "OK"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOccasionGroupsResponse'
          examples:
            $ref: '#/components/examples/GetOccasionGroupsResponseExample'

        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/100-date-only'
                  - $ref: '#/components/schemas/100_Invalid_Occasion_Times_Order'
                  - $ref: '#/components/schemas/1100_init_time/end_time_Required'

        401:
          description: "Unauthorized, invalid token."

        403:
          description: "Forbidden"

        404:
          description: "Not found"

      security:
        - Bearer: [ ]


  /v2/intake/createOccasionTranslation:
    post:
      tags:
        - "Custom Occasions"
      summary: "⚫🔵 Create a new occasion translation"
      description: "
          Create an occasion translation for a defined occasion in a given language. Translations will belong
          to a occasion. If a new occasion group is created the translations will be stored but not active
          anymore.
          "
      requestBody:
[...]
